{
  "access": "proxy",
  "basicAuth": false,
  "isDefault": true,
  "jsonData": {
    "timeInterval": "15s"
  },
  "name": "Prometheus",
  "type": "prometheus",
  "url": "http://{{ monitoring_server_ip }}:9090/"
}
